<div xmlns:res="http://resource.jiangcai.me" class="navBar">
    <ul class="nav clearfix">
        <a href=""><img class="logoimg" res:src="${site.logoUri}"/></a>
        <li  class="m dropdown" th:each="oneItem,ontItemStat: ${pageIds}">
            <h3>
                <a class="topNavigation" th:text="${oneItem['name']}"
                   th:href="@{/_web/}+${oneItem['linkPath']}" href="#" title="资讯动态">
                    资讯动态
                </a>
            </h3>
            <ul class="sub"  th:if="${oneItem['isParent']}">
                <li th:each="twoItem: ${oneItem['children']}">
                    <a href="#" title="公司动态" th:text="${twoItem['name']}"
                       th:href="@{/_web/}+${twoItem['linkPath']}">
                        公司动态
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>