<div th:id="${componentId}">
    <div xmlns:res="http://resource.jiangcai.me" xmlns:th="http://www.thymeleaf.org"
         class="topnavbar-new topnavbar-center" th:class="'topnavbar-new '+${layout}+' '+ ${position}">
        <div class="content-center clearfix">
            <div class="topnavbar-header">
                <img src="img/logo.png" res:src="${site.logoUri}">
                <div class="menu-toggle-btn">
                    <a class="menu-toggle-icon" href="javascript:;"><span></span></a>
                </div>
            </div>
            <div class="topnavbar-body">
                <ul>
                    <li class="" th:each="oneItem,ontItemStat: ${pageIds}"
                        th:class="${oneItem['isParent']==true ?'drop-down':''}">
                        <a class="topNavigation" href="javascript:;" th:if="${(oneItem['visibleValue']=='' or oneItem['visibleValue']==true) and
                    oneItem['flag']==0}" th:text="${oneItem['name']}"
                           th:href="${oneItem['linkPath']}">首页</a>
                        <a class="topNavigation" href="javascript:;" th:if="${ (oneItem['visibleValue']=='' or oneItem['visibleValue']==true) and
                    oneItem['flag']==1}" th:text="${oneItem['name']}"
                           th:href="@{/_web/{pagePath}(pagePath=${@cmsDataSourceService.findPageInfoContent(oneItem['linkPath'])
                       !=null?@cmsDataSourceService.findPageInfoContent(oneItem['linkPath']).pagePath:''})}">首页</a>

                        <ul th:if="${oneItem['isParent']==true}" class="drop-down-menu">
                            <li th:each="twoItem: ${oneItem['children']}">
                                <a class="topNavigation" th:if="${(twoItem['visibleValue']=='' or twoItem['visibleValue']==true) and
                            twoItem['flag']==0}" th:text="${twoItem['name']}"
                                   th:href="${twoItem['linkPath']}"
                                   href="javascript:;">首页</a>

                                <a class="topNavigation" th:if="${(twoItem['visibleValue']=='' or twoItem['visibleValue']==true) and
                            twoItem['flag']==1}" th:text="${twoItem['name']}"
                                   th:href="@{/_web/{pagePath}(pagePath=${@cmsDataSourceService.findPageInfoContent(twoItem['linkPath'])
                               !=null@cmsDataSourceService.findPageInfoContent(twoItem['linkPath']).pagePath:''})}"
                                   href="javascript:;">首页</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>