<div class="navbar navbar-default" id="topNavigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navList">
            <span class="sr-only">切换导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="index.html"><img class="logo" th:src="${properties['logoFileUri']}"></a>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navList">
        <ul class="nav navbar-nav">
            <li th:class="${ontItemStat.index==0?'dropdown active':'dropdown'}"
                th:each="oneItem,ontItemStat: ${properties['pageIds']}" th:if="${oneItem.pid==0}">

                <a class="topNavigation" th:text="${oneItem.name}"
                   th:href="@{/_web/}+${oneItem.pagePath}"
                   href="javascript:;" data-hover="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">首页</a>

                <!-- todo 空ul过滤-->
                <ul class="dropdown-menu">
                    <li th:each="twoItem: ${properties['pageIds']}" th:if="${oneItem.id==twoItem.pid}">
                        <a class="topNavigation" th:text="${twoItem.name}"
                           th:href="@{/_web/}+${twoItem.pagePath}"
                           href="mall.html">伙伴商城</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
