<div class="topnavbar-new topnavbar-full topnavbar-golden">
    <div class="content-center clearfix">
        <div class="topnavbar-header">
            <a href="/"><img src="img/logo.jpg"></a>
            <div class="menu-toggle-btn">
                <a class="menu-toggle-icon" href="#"><span></span></a>
            </div>
        </div>
        <div class="topnavbar-body">
            <ul>
                <li class="nav-item active">
                    <a href="javascript:;">首页</a>
                </li>
                <li class="nav-item drop-down">
                    <a href="javascript:;">资讯动态</a>
                    <ul class="drop-down-menu">
                        <li><a href="#">公司动态</a></li>
                        <li><a href="#">行业动态</a></li>
                        <li><a href="#">积分动态</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>